<div class="card highlight-card card-small"  *ngIf="id==''">
    <mat-icon aria-hidden="false" aria-label="connexion">people_alt</mat-icon>
    <span>Etudiants</span>

    

    

  </div>
<div *ngIf="id==''">
  <mat-form-field>
    <input matInput (input)="applyFilter($event.target.value)" placeholder="Filtre" class="form-control">
  </mat-form-field>
  
    <table mat-table [dataSource]="etuServ.dataSource" matSort class="mat-elevation-z8" >
    
      <!-- Position Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} <span class="success bold" *ngIf="element.pseudo==connexion.getpseudo()">(vous)</span> </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="promo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Promotion </th>
        <td mat-cell *matCellDef="let element"><span *ngIf="element.showpromo; else elseBlock">{{element.promo}} </span>
          <ng-template #elseBlock>
            <i class="material-icons secondary">
            visibility_off
            </i><span class="secondary" *ngIf="element.pseudo==connexion.getpseudo() || connexion.isadmin()"> {{element.promo}}</span>
          </ng-template> </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="entreprise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entreprise </th>
        <td mat-cell *matCellDef="let element" ><span *ngIf="element.showentreprise; else elseBlock">{{element.entreprise}} </span>
          <ng-template #elseBlock><i class="material-icons secondary">
            visibility_off
            </i><span class="secondary" *ngIf="element.pseudo==connexion.getpseudo() || connexion.isadmin()"> {{element.entreprise}}</span>
          </ng-template> </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Détails </th>
        <td mat-cell *matCellDef="let element"> <a class=" " href [routerLink]="['/extranet/etudiant',element.pseudo]"><i class="material-icons">
          arrow_right_alt
          </i></a> </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <div class="student-content" >
    <button (click)="modifier(true)" class="button primary" *ngIf="id=='' && connexion.isadmin()">Créer un compte</button>
  </div>
    <div  *ngIf="id!=''">

  <div class="card highlight-card card-small">

      <span>{{current_student.nom}} {{current_student.prenom}}</span>

    </div>
    <div class="student-content" *ngIf="!connexion.isadmin() || connexion.getid()!=id">
    <mat-card >
      <mat-card-header>
        <mat-card-title>Entreprise</mat-card-title>
        <mat-card-subtitle *ngIf="current_student.showentreprise; else elseEntreprise">{{current_student.entreprise}}</mat-card-subtitle>
        <ng-template #elseEntreprise>
            <mat-card-subtitle>
          <i class="material-icons">
          visibility_off
          </i><span *ngIf="connexion.getid()==id || connexion.isadmin()"> {{current_student.entreprise}}</span>
        </mat-card-subtitle></ng-template>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Promotion</mat-card-title>
        <mat-card-subtitle *ngIf="current_student.showpromo; else elsePromo">{{current_student.promo}}</mat-card-subtitle>
        <ng-template #elsePromo>
            <mat-card-subtitle><i class="material-icons">
          visibility_off
          </i><span *ngIf="connexion.getid()==id || connexion.isadmin()"> {{current_student.promo}}</span>
        </mat-card-subtitle></ng-template>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="student-content" >
    <button (click)="modifier()" class="button primary" *ngIf="connexion.getid()==id || connexion.isadmin()">Modifier le compte</button>
    <button (click)="supprimer()" class="button primary" *ngIf="connexion.getid()==id || connexion.isadmin()">Supprimer le compte</button>
  </div>