


<!-- Liste des utilisateurs dans la bdd -->

<mat-tab-group (selectedTabChange)="tabchange($event)" animationDuration="0ms">
    <mat-tab label="Etudiants">

        <br>
        <div class="row" style="width: 100%;">
            
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                        placeholder="Recherche par nom..." (keyup)="searchByName()">
                </div>
            </div>
            <div class="col-md-6 filter-by-promo">
                <div class="row">
                    <div class="col-md-auto title">
                        <span>Filtre par promo (older than):</span>
                    </div>
                    <div class="col">
                        <span>1970 </span>
                        <mat-slider class="promo-slider" [max]="max" min="1970" step="1" thumbLabel="true" (ngModel)="promoValue"
                            (change)="rangeChange($event)">
                        </mat-slider>
                        <span>{{max}}</span>
                    </div>
                </div>
            </div>
        </div>

<div class="list-group users-list">
    <div *ngFor="let item of items_filtered_etu" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row" >
            <div class="col col-md-8 text-col">
                <h5 class="mb-1">{{item.first_name}} {{item.last_name}}</h5>
                <small *ngIf="item.promotion>1970">Promo: {{item.promotion}}</small>
                <!--<small *ngIf="item.role==1">Option: {{item.option}}</small>-->
            </div>
            <div class="col col-md-2 actions-col">
                <button mat-raised-button color="accent" (click)="viewDetails(item)" type="button">
                        <i class="material-icons">edit</i> Edit
                </button>
            </div>
        </div>
    </div>
    </div>
</mat-tab>
<mat-tab label="Professeurs">



    <br>
    <div class="row" style="width: 100%;">
        
        <div class="col-md-4 offset-md-1">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                    placeholder="Recherche par nom..." (keyup)="searchByName()">
            </div>
        </div>
    </div>





    <div class="list-group users-list">
        <div *ngFor="let item of items_filtered_prof" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row" >
                <div class="col col-md-8 text-col">
                    <h5 class="mb-1">{{item.first_name}} {{item.last_name}}</h5>
                    <small>Option: {{options_bddtoview[item.option]}}</small>
                    <!--<small *ngIf="item.role==1">Option: {{item.option}}</small>-->
                </div>
                <div class="col col-md-2 actions-col">
                    <button mat-raised-button color="accent" (click)="viewDetails(item)" type="button">
                            <i class="material-icons">edit</i> Edit
                    </button>
                </div>
            </div>
        </div>
        </div>

</mat-tab>


</mat-tab-group>

<div ><mat-spinner *ngIf="loading" diameter="100" style="margin:0 auto;"></mat-spinner></div>
