
<section>
  <mat-card class="col col-md-4">
    <h3 *ngIf="!conne.connecte">Ecrivez votre nouveau mot de passe</h3>
<form class="create-form" [formGroup]="restpswdform" novalidate
      (ngSubmit)="onSubmit(restpswdform.value)">

      <div class="form-group">
        <mat-form-field class="input-style">
          <input matInput type="password" placeholder="Mot de passe" formControlName="password">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="input-style">
          <input matInput type="password" placeholder="Répeter le mot de passe" formControlName="passwordrepeat">
        </mat-form-field>
      </div>

      <div class="error" *ngIf="error">{{errormsg}}</div>

      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!restpswdform.valid"
        style="margin-right: 10px;" *ngIf="!loading">Envoyer</button>
      <div>
        <mat-spinner *ngIf="loading" [diameter]="20" style="margin:0 auto;"></mat-spinner>
      </div>
      <br>



    </form>
    </mat-card>
    </section>
