.chart{
    width: 80vw; 
    height: 400px;
    display: block;
    margin: 20px auto;
}


mat-tab-group{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
