<mat-tab-group>
    <mat-tab label="Promotions">
        <highcharts-chart 
        [Highcharts]="Highcharts"
      
        [constructorType]="chartConstructor"
        [options]="option_promo"
        [callbackFunction]="chartCallback"
      
        [(update)]="updateFlag"
      
        class="chart"
      ></highcharts-chart>
    </mat-tab>
    <mat-tab label="Options">
      <highcharts-chart 
        [Highcharts]="Highcharts"
      
        [constructorType]="chartConstructor"
        [options]="option_option"
        [callbackFunction]="chartCallback"
      
        [(update)]="updateFlag"
      
        class="chart"
      ></highcharts-chart>
    </mat-tab>
    <mat-tab label="Salaires">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Entreprises">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
  </mat-tab-group>