<div class="toolbar" role="banner">
    <a href routerLink="/accueil" title="Accueil" >
      <img
      height="25"
      alt="EISTI Logo"
      [src]="image"
    /></a>
    
    <a href routerLink="/accueil" title="Accueil" ><span *ngIf="!lowWidth">Accueil</span><mat-icon *ngIf="lowWidth" aria-hidden="false" aria-label="home">home</mat-icon></a>
    <a href routerLink="/extranet/etudiant" title="Etudiants"  *ngIf="connexion.isconnected()">
      <span *ngIf="!lowWidth">Etudiants</span><mat-icon *ngIf="lowWidth" aria-hidden="false" aria-label="people">people</mat-icon></a>
    <a href routerLink="/extranet/statistiques"  title="Statistiques" *ngIf="connexion.isadmin()">
      <span *ngIf="!lowWidth">Statistiques</span><mat-icon *ngIf="lowWidth" aria-hidden="false" aria-label="bar_chart">bar_chart</mat-icon></a>
      <div class="spacer"></div>
    
    <a aria-label="connexion" href routerLink="/connexion" title="connexion" *ngIf="!connexion.isconnected() && router.url!='/connexion'">
      
      <mat-icon aria-hidden="false" aria-label="connexion">exit_to_app</mat-icon>
      <span>Connexion</span>
      
    </a>
    <a aria-label="profil" href [routerLink]="['/extranet/etudiant',connexion.getpseudo()]" title="Profil" *ngIf="connexion.isconnected()">

      <mat-icon aria-hidden="false" aria-label="person">person</mat-icon>
      <span *ngIf="!lowWidth">{{connexion.getpseudo()}}</span>
      
    </a>
    <a aria-label="deconnexion" (click)="connexion.disconnect()" title="Déconnexion" *ngIf="connexion.isconnected()">

      <mat-icon aria-hidden="false" aria-label="deconnexion">close</mat-icon>
      <span *ngIf="!lowWidth">Déconnexion</span>
      
    </a>
  </div>