.toolbar {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
  }

  .toolbar img {
    margin: 0 16px;
  }


  .toolbar a{
      color:white;
      margin:16px;
      cursor: pointer;
      display:flex;
      justify-content: center;
      align-items: center;
      
  }



  .toolbar a:hover{
    color:gainsboro;
}

@media screen and (max-width: 575px) {
  .toolbar a{
    color:white;
    margin:8px;
  }
}