<div class="edit-page">
  <div class="page-content">
    <div class="row">
      <mat-card class="col col-md-8 form-container">
        <h3 style="text-align: center;">Inscription</h3>
        <mat-horizontal-stepper linear #stepper>
          <mat-step [stepControl]="personalForm">
            <form [formGroup]="personalForm">
              <ng-template matStepLabel>Informations personnelles</ng-template>
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="email" placeholder="Adresse électronique"
                    formControlName="email" required>
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.email">
                  <mat-error
                    *ngIf="personalForm.get('email').hasError(validation.type) && (personalForm.get('email').dirty || personalForm.get('email').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
    
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="password" placeholder="Mot de passe" formControlName="password"
                    required>
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.password">
                  <mat-error
                    *ngIf="personalForm.get('password').hasError(validation.type) && (personalForm.get('password').dirty || personalForm.get('password').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
    
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Nom" formControlName="name" required>
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.name">
                  <mat-error
                    *ngIf="personalForm.get('name').hasError(validation.type) && (personalForm.get('name').dirty || personalForm.get('name').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
    
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Prénom" formControlName="surname" required>
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.surname">
                  <mat-error
                    *ngIf="personalForm.get('surname').hasError(validation.type) && (personalForm.get('surname').dirty || personalForm.get('surname').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
              
              
    
              <div class="form-group">
                <mat-form-field class="input-style">
                  <mat-label>Option ING3</mat-label>
                  <mat-select formControlName="optionsIng3Control" required>
                    <mat-option>-- Aucun --</mat-option>
                    <mat-optgroup *ngFor="let group of optionsIng3Groups" [label]="group.name">
                      <mat-option *ngFor="let option of group.option" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.optionsIng3Control">
                  <mat-error
                    *ngIf="personalForm.get('optionsIng3Control').hasError(validation.type) && (personalForm.get('optionsIng3Control').dirty || personalForm.get('optionsIng3Control').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>


              <div class="form-group">
                <mat-label>Promotion*: {{promo_value}}<br></mat-label>
                <mat-slider formControlName="promo" thumbLabel class="slider"
                  formControlName="promo" tickInterval="1" min="1990" [max]="max" [(ngModel)]="promo_value">
                </mat-slider>
              </div>

              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="professionalForm" optional="true">
            <form [formGroup]="professionalForm">
              <ng-template matStepLabel>Information professionnelles</ng-template>
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Entreprise" formControlName="entreprise">
                </mat-form-field>
              </div>
    
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Ville travail" formControlName="ville">
                </mat-form-field>
              </div>
    
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="number" placeholder="Salaire" formControlName="salaire">
                </mat-form-field>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="validationForm">
            <form [formGroup]="validationForm">
            <ng-template matStepLabel>Validation</ng-template>
            <div class="form-group">
              <mat-checkbox class="example-margin" [(indeterminate)]="indeterminate" [labelPosition]="labelPosition"
                formControlName="autorisationCollecte" required>
                J'autorise la collecte et mise à jour numérique des informations de ce formulaire
              </mat-checkbox>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
              <button *ngIf="!loading" mat-raised-button class="submit-button" color="primary" type="button" (click)="onSubmit()"
            [disabled]="!validationForm.valid">Inscription</button>
            <div ><mat-spinner *ngIf="loading" [diameter]="20" style="margin-left: 50%; margin-right: 50%;"></mat-spinner></div>
            <br>
            <mat-toolbar *ngIf="conne.form_send" color="accent"><mat-icon aria-hidden="false" aria-label="check_circle">check_circle</mat-icon>  Vos données ont été transmises, merci pour votre coopération</mat-toolbar>
            </div>
          </form>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card>
    </div>
  </div>



</div>
