<mat-card>
  <mat-card-title>Détails du profil de {{item.name}} {{item.surname}}</mat-card-title>
  <mat-card-content>Email : {{item.email}}</mat-card-content>
  <mat-card-content>Promotion : {{item.promo}}</mat-card-content>
  <mat-card-content>Option en ING3 : {{item.optionsIng3Control}}</mat-card-content>
  <mat-card-content>Entreprise : {{item.entreprise}}</mat-card-content>
  <mat-card-content>Ville de travail : {{item.ville}}</mat-card-content>
  <mat-card-content>Salaire : {{item.salaire}}</mat-card-content>
  <button mat-raised-button class="return-button" color="warn" type="button"
      routerLink="/extranet/prof"><i class="material-icons">navigate_before</i>Retour</button>
</mat-card>