<mat-card>
  <mat-card-title>Détails du profil de {{item.name}}</mat-card-title>
  <mat-card-content>Email : {{item.email}}</mat-card-content>
  <mat-card-content>Promotion : {{item.promotion}}</mat-card-content>
  <mat-card-content>Option en ING3 : {{item.option}}</mat-card-content>
  <mat-card-content>Entreprise : {{item.company}}</mat-card-content>
  <mat-card-content>Ville de travail : {{item.working_city}}</mat-card-content>
  <mat-card-content>Salaire : {{item.wage}}</mat-card-content>
  <!-- <mat-card-content>URL LinkedIn : <a href="{{item.linkedin_url}}">{{item.linkedin_url}}</a></mat-card-content> -->
  <button mat-raised-button class="return-button" color="warn" type="button"
      routerLink="/extranet/prof"><i class="material-icons">navigate_before</i>Retour</button>
</mat-card>