
<nav>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
              </button>
            <a mat-button href routerLink='/'>Accueil</a>
            <a mat-button *ngIf="conne.role>1 && conne.connecte == true" href routerLink='/extranet/admin'>Lister les utilisateurs</a>
            <a mat-button *ngIf="conne.role==1 && conne.connecte == true" href routerLink='extranet/prof'>Lister les étudiants</a>
            <a mat-button *ngIf="conne.role==1 && conne.connecte == true" href routerLink='/extranet/prof/stats'>Afficher les statistiques</a>
            <a mat-button *ngIf="conne.role==0 && conne.connecte == true" href routerLink='/extranet/etudiant/edit/{{conne.userId}}'>Mon Profil</a>
            <div class="flex-spacer"></div>
            <a mat-button *ngIf="conne.connecte == false" href routerLink='/formulaire'>Inscription</a>
            <a mat-button *ngIf="conne.connecte == false" href routerLink='/connexion'>Connexion</a>
            <a mat-button *ngIf="conne.connecte == true" href routerLink='/connexion'>Déconnexion</a>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
</mat-drawer-container>