
<nav style="height: 6vh;">
    <mat-toolbar color="primary">
        <mat-toolbar-row style="height: 6vh;">
            <button *ngIf="this.isMobile" mat-icon-button (click)="parent._toggle()"><mat-icon>menu</mat-icon></button>
            
            <a *ngIf="!this.isMobile" mat-button href routerLink='/'>
                <mat-icon svgIcon="logoPEICC" aria-hidden="false" aria-label="logoPEICC"></mat-icon>
                Accueil
            </a>
            <a mat-button *ngIf="!this.isMobile && conne.role>1 && conne.connecte == true" href routerLink='/extranet/admin'>Lister les utilisateurs</a>
            
            <a mat-button *ngIf="!this.isMobile && conne.role==1 && conne.connecte == true" href routerLink='extranet/prof'>Lister les diplômés</a>
            <a mat-button *ngIf="!this.isMobile && conne.role==1 && conne.connecte == true" href routerLink='/extranet/prof/stats'>Afficher les statistiques</a>
            <div class="flex-spacer"></div>
            <a mat-raised-button class="raisebutton"  *ngIf="!this.isMobile && conne.connecte == false" href routerLink='/formulaire'>Inscription</a>
            <a mat-raised-button class="raisebutton"  *ngIf="!this.isMobile && conne.connecte == false" href routerLink='/connexion'>Connexion</a>
            <a mat-raised-button  class="raisebutton" *ngIf="!this.isMobile && conne.connecte == true" href routerLink='/connexion'>Compte</a>
            <a mat-raised-button  class="raisebutton" *ngIf="!this.isMobile && conne.connecte == true" (click)="conne.deconnecte()">Déconnexion</a>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>

