<section>
  <mat-card class="col col-md-4">
    <h3 *ngIf="!conne.connecte">Connexion</h3>
    <form *ngIf="!conne.connecte" class="create-form" [formGroup]="connexionForm" novalidate
      (ngSubmit)="onSubmit(connexionForm.value)">

      <div class="form-group">
        <mat-form-field class="input-style">
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="input-style">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>

      <div class="error" *ngIf="error">{{errormsg}}</div>

      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!connexionForm.valid" style="margin-right: 10px;"
        *ngIf="!loading">Connexion</button>
        <a mat-raised-button class="submit-button atobutton" color="accent"
        *ngIf="!loading">Mot de passe oublié</a>
      <div>
        <mat-spinner *ngIf="loading" [diameter]="20" style="margin:0 auto;"></mat-spinner>
      </div>
      <br>



    </form>

    <div *ngIf="conne.connecte">
      <mat-card-title>Bonjour {{item.first_name | titlecase }} {{item.last_name | uppercase }}</mat-card-title>
      <mat-card-content>Vous êtes bien connecté avec le role: {{role}}
        <span *ngIf="conne.role == 1"> de l'option {{options_bddtoview[conne.userOption] }}.</span>
      </mat-card-content>
      <mat-card-content><button *ngIf="conne.role == 2" mat-raised-button class="buttonAdmin" color="accent" type="button"
        routerLink="/extranet/admin/edit"><i class="material-icons">edit</i>Editer mon profil</button></mat-card-content>
      <div ><mat-spinner *ngIf="loading" diameter="100" style="margin:0 auto;"></mat-spinner></div>
      <div *ngIf="conne.role == 0 && !loading">
        <mat-card-content>Email : {{item.email}}</mat-card-content>
        <mat-card-content>Promotion : {{item.promotion}}</mat-card-content>
        <mat-card-content>Option en ING3 : {{this.options_bddtoview[this.item.option]}}</mat-card-content>
        <mat-card-content>Entreprise : {{item.company}}</mat-card-content>
        <mat-card-content>Ville de travail : {{item.working_city}}</mat-card-content>
        <mat-card-content>Salaire : {{item.wage}}</mat-card-content>
        <mat-card-content>URL LinkedIn :
          <span *ngIf="item.linkedin_url=='Non renseigné';else link">
            {{item.linkedin_url}}
          </span>
          <ng-template #link>
            <a href="{{item.linkedin_url}}">{{item.linkedin_url}}</a>
          </ng-template>
        </mat-card-content>
        <button mat-raised-button class="return-button" color="accent" type="button"
      routerLink="/extranet/etudiant/edit/{{conne.route()}}"><i class="material-icons">edit</i>Editer mon profil</button>
      </div>
    </div>
  </mat-card>

</section>