<h1 mat-dialog-title>Créer ou modifier un étudiant</h1>
<mat-dialog-content>
    
  <p>Choisissez un pseudonyme et un mot de passe</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.pseudo" placeholder="Pseudo" class="form-control" required>
    
  </mat-form-field>
  <br>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [(ngModel)]="data.mdp" [type]="hide ? 'password' : 'text'" class="form-control" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="button primary btn-small">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <p>Entrez votre nom et votre prénom</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.nom" placeholder="Nom" class="form-control" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.prenom" placeholder="Prénom" class="form-control" required>
    </mat-form-field>
    <p>Entrez votre promotion</p>
    <br>
        <mat-slider
        class="slider"
        thumbLabel
        [(ngModel)]="data.promo"
        tickInterval="1"
        min="2000"
        max="2020"></mat-slider>
      <mat-checkbox [(ngModel)]="data.showpromo">Afficher publiquement votre promotion</mat-checkbox>

    <p>Entrez votre entreprise</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.entreprise" placeholder="Entreprise" class="form-control">
    </mat-form-field>

      <mat-checkbox [(ngModel)]="data.showentreprise">Afficher publiquement votre entreprise</mat-checkbox>
      <mat-checkbox [(ngModel)]="rgpd">J'ai pris connaissance et j'accepte la règle <a target="_blank" href routerLink="/rgpd">RGPD</a></mat-checkbox>
      <mat-error *ngIf="!rgpd && invalid">Vous devez accepter la RGPD</mat-error>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="button primary btn-small">Annuler</button>
  <button mat-button (click)="onValidClick()" cdkFocusInitial class="button primary btn-small">Créer/Modifier</button>
</mat-dialog-actions>
