
  
<header>
  <app-menu></app-menu>
</header>


<mat-sidenav-container class="example-container" (click)="close()"> 
    <mat-sidenav [opened]="open"  #sidenav mode="push">
      
      <mat-toolbar color="primary" style="height:100%;">
        <mat-toolbar-row>
            <a mat-button href routerLink='/'>Accueil</a>
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="conne.role>1 && conne.connecte == true">
            <a mat-button  href routerLink='/extranet/admin'>Lister les utilisateurs</a>
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="conne.role==1 && conne.connecte == true">
            <a mat-button  href routerLink='extranet/prof'>Lister les étudiants</a>
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="conne.role==1 && conne.connecte == true">
            <a mat-button  href routerLink='/extranet/prof/stats'>Afficher les statistiques</a>
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="conne.role==0 && conne.connecte == true">
            <a mat-button  href routerLink='/extranet/etudiant/edit/{{conne.userId}}'>Mon Profil</a>
          </mat-toolbar-row>

            <mat-toolbar-row style="height:100%;"><div style="height:100%;"></div></mat-toolbar-row>

          <mat-toolbar-row *ngIf="conne.connecte == false && router.url!='/formulaire'">
            <a mat-raised-button class="raisebutton" href routerLink='/formulaire'>Inscription</a>
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="conne.connecte == false && router.url!='/connexion'">
            <a mat-raised-button  class="raisebutton"  href routerLink='/connexion'>Connexion</a>
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="conne.connecte == true && router.url!='/connexion'">
            <a mat-raised-button class="raisebutton"   href routerLink='/connexion'>Compte</a>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="conne.connecte == true && router.url!='/connexion'">
          <a mat-raised-button class="raisebutton"  (click)="conne.connecte=false">Déconnexion</a>
      </mat-toolbar-row>
    </mat-toolbar>
    </mat-sidenav>
  <mat-sidenav-content>
  <main class="content">
  <router-outlet>
    
  </router-outlet>
  </main>

  <app-footer></app-footer>
</mat-sidenav-content>
</mat-sidenav-container>

