.content{
    min-height:87.3vh;
    overflow-x: hidden;
}

.fill-height{
    height: 100%;
}

.fill-width{
    width: 100%;
}

.flex-spacer{
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

a:not(.raisebutton) {
    color: inherit;
   
}

a:hover{
    text-decoration: none;
}