.edit-page {
  padding: 20px 60px;

  .page-content {
    .edit-form {
      padding: 20px;
      text-align: center;

      .submit-button-container {
        justify-content: center;

        .submit-button {
          width: 100%;
        }

        .delete-button {
          width: 100%;
        }
      }

      .input-style {
        width: 50%;
      }

      .mat-error {
        font-size: 12px;
      }
    }
  }
}
.form-container {
  margin: auto;
}
